<%= javascript 'dynamic_epreuves' %>

<h2>Nouvelle note</h2>


<% @i=0 %>
<%= form_for @note do |f| %>
  <%= f.fields_for :notes, [Note.new]*@nb_eleves do |note| %>
  	<%= f.text_field :user_id, :value => @eleves[@i].id, class: "hidden"  %>
  	<%= f.text_field :matiere_id, :value => @matiere_id, class: "hidden"  %>
  	<%= f.text_field :epreuve_id, :value => @epreuve, class: "hidden"  %>
  	<%= @eleves[@i].nom %>
  	<%= @eleves[@i].prenom %>
    <%= f.text_field :note, placeholder: "Note"%>
    <% @i+=1 %>
  <% end %>
  <%= f.submit "Enregistrer"%>
<% end %>

<%= link_to "Retour", :back%>
