
<h2>Nouvelle note</h2>

<%= form_for @note do |f| %>
<h3> Informations sur l'étudiant : </h3>
 <%= f.collection_select :user_id, User.where(type:'Etudiant'), :id, :prenom_et_nom, include_blank: 'Sélectionnez un étudiant' %>
 <%= f.collection_select :matiere_id, Matiere, :id, :titre, include_blank: 'Sélectionnez une matière' %>
<%= f.text_field :note, placeholder: "Note"%>
<%= f.submit "Enregistrer"%>
<% end %>
<%= link_to "Retour", :back%>
