<html>
  <head>
  </head>
  <body>
    <!-- Affichage des liens de navigation!-->
	<%= render "layouts/_navigation_links" %>
	<!--Fin Affichage des liens de navigation!-->

	  	<% if current_user.kind_of? Administrateur %>
	  		<div class="columns">
				<div class="field is-4 column is-centered">
					<%= link_to "Administrer",  admin_root_path, class: "button is-warning" %>
				</div>
				<div class="field is-4 column is-centered">
					<%= link_to "Valider un enseignant",  validation_user_path, class: "button is-warning" %>
				</div>
			</div>

		<% end %>
 

		<% if current_user.kind_of? Etudiant %>
			<div class="columns">
				<div class="field is-4 column is-centered">
					<%= link_to "Consulter mes notes",  notes_path, class: "button is-warning" %>
				</div>
				<div class="field is-4 column is-centered">
					<%= link_to "Consulter mes épreuves",  epreuves_path, class: "button is-warning" %>
				</div>
			</div>
		<% end %>
	

  	
		<% if current_user.kind_of? Enseignant %>
			<div class="columns space_top-small">
				<div class="field column is-4 is-centered ">
					<%= link_to "Inscrire un étudiant",  new_validation_user_path, class: "button is-warning" %>
				</div>
			</div>			
			<div class="columns space_top-small2">
				<div class="field is-4 column is-centered">
				<%= link_to "Ajouter une matière",  new_matiere_path, class: "button is-warning" %>
				</div>
				<div class="field column is-4 is-centered ">
					<%= link_to "Ajouter des étudiants à une matière",  matieres_path, class: "button is-warning " %>
				</div>
				<div class="field is-4 column is-centered">
				<%= link_to "Ajouter une épreuve",  new_epreuve_path, class: "button is-warning" %>
				</div>
			</div>
			<div class="columns space_top-small2">
				<div class="field is-4 column is-centered">
					<%= link_to "Ajouter une note",  epreuves_path, class: "button is-warning" %>
				</div>
			</div>
		<% end %>


  </body>
</html>