<h2>Nouvelle épreuve</h2>

<%= form_for @epreuve do |f| %>
 <%= f.collection_select :matiere_id, Matiere.where(user_id: current_user.id) , :id, :titre, include_blank: 'Sélectionnez une matière' %>
 <br />
 <br />
  <%= f.label :Date_de_l_épreuve%>
        <br />
   <%= f.date_field :date %>
   
 <br />
 <br />

<%= f.text_field :titre, placeholder: "Epreuve"%>
<%= f.submit "Enregistrer"%>
<% end %>
<%= link_to "Retour", :back%>
