<h2>Nouvelle matière</h2>

<%= form_for @matiere do |f| %>
 <br />
 <br />
  <%= f.label :date_de_debut%>
        <br />
   <%= f.date_field :debut %>

 <br />
 <br />
  <%= f.label :Date_de_fin%>
        <br />
   <%= f.date_field :fin %>

 <br />
 <br />

<%= f.text_field :titre, placeholder: "Matière"%>
<%= f.submit "Enregistrer"%>
<% end %>
<%= link_to "Retour", :back%>


