<% if current_user.kind_of? Administrateur %>
	<h1>Utilisateurs</h1>
	<%= link_to "Tous les utilisateurs", :action => "index" %>
	|
	<%= link_to "Utilisateurs en attente de validation", :action => "index", :approved => "false" %>
	<table>
	  <% for @user in @users %>
	    <tr>
	      <td>
	        <%= @user.email %>
	      </td>
	      <td>
	        <%= @user.approved %>
	      </td>
	      <td>
	        <%= link_to "Edit", edit_validation_user_path(@user) %>
	      </td>
	    </tr>
	  <% end %>
	</table>

<% end %>