<!DOCTYPE html>
<html>
<head>
  <title>ProjetWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<div id="particles-js">

	<%if notice.present?%>
	<div class="notification is-success">
		<button class="delete"></button>
	    <%= notice %>
	</div>
	<%end%>
	<%if alert.present?%>

	<div class="notification is-danger">
		<button class="delete"></button>
	    <%= alert %>
	</div>
	<%end%>

	<div class="container">
		<div class="content">
			<%= yield %>
		</div>
	</div>

</div> 
</body>
</html>


